#generate-car {
    display: block;
  }
  
  .car {
    height: 50px;
    display: block;
    transition: all 0.3s ease;
  }
  
  .car--start {
    animation: carAnimation 0.3s ease infinite;
  }
  
  @keyframes carAnimation {
    0% {
      transform: translateX(0px);
    }
  
    25% {
      transform: translateX(2px);
    }
  
    50% {
      transform: translateX(0px);
    }
  
    75% {
      transform: translateX(-2px);
    }
  
    100% {
      transform: translateX(-2px);
    }
  }